@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #84E1AD;
    --cor1: #98d2b1a2;
    --cor2: #245e3d;
    --cor3: #227646;
    --cor4: #e9f0ec;
    --cor5: #2d764c;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor4);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header{
    color: white;
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor2));
    min-height: 150px;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: var(--cor1);
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 2.2em;
    margin-bottom: 20px;
}

header p {
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 1.2mem;
    max-width: 600px;
    margin: auto;
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.192);
}

nav a {
    font-size: 12.6px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    /* border-radius: 20px; */
    box-shadow: 0px 10px 50px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* width: 650px; */
}

main h2 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 2em; 
}

main strong {
    color: var(--cor2);
    font-weight: bold;
}

main img {
    width: 100%;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.fonte {
    font-family: 'Android', Arial, Helvetica, sans-serif;
    color: var(--cor2);
}


div.youtube { 
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 60%;
    position: relative;
}

div.youtube > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3 {
    background-color: var(--cor2);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}