@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor0: #84E1AD;
    --cor1: #98d2b1a2;
    --cor2: #245e3d;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;

}

* {
    margin: 0px;
    padding: 0px;
    
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    color: white;
    font-size: 20px;
    margin: auto;
}

header > h1{
    color: var(--cor1);
    color: white;
    font-family: var(--fonte-destaque);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    /* border-radius: 20px; */
    box-shadow: 0px 10px 50px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* width: 650px; */
}

main h2 {
    background-color: var(--cor1);
}

main img {
    width: 100%;
}

.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.fonte {
    font-family: 'Android', Arial, Helvetica, sans-serif;
    color: var(--cor2);
}


p {
    text-align: justify;
    text-indent: 30px;
}

#youtube{
    background-color: var(--cor2);
    padding: 40px;
    margin: 0 auto;
}